* {
  box-sizing: border-box;
}

html,
body {
  color: #eee;
  background-color: #333;
  margin: 0;
}

header {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 20px;
}

#left-sidebar {
  width: 100%;
}

#left-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#cities-list-title {
  margin: 0;
}

#cities-list {
  margin-left: 0;
  padding-left: 10px;
  list-style: none;
}

.city-list-item {
  margin: 0;
}

#color-key-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#color-key-wrapper {
  margin: 0 auto;
  width: 90%;
}

.color-key-item {
  display: inline;
}

.color-block {
  float: right;
  width: 15px;
  height: 15px;
  margin-left: 1em;
  border: 1px solid #000;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

#canvas {
  padding: 0;
  background-color: #eaeaea;
  outline: 5px solid #000;
}

#tip-canvas {
  display: none;
  padding: 0;
  background-color: #ddd;
  outline: 1px solid #09c;
  margin: 0;
  position: absolute;
  z-index: 10_000;
}

form {
  padding: 0 1em;
  height: 100%;
}

form div {
  margin-bottom: 20px;
}

form div input {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
}

#form-buttons {
  display: flex;
}

#search-error-text {
  display: none;
  color: #f33;
}
