body {
    color: #ddd;
    background-color: #333;
}

header {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

#left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#left-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cities-list-title {
    margin: 0;
}

#cities-list {
    margin-left: 0;
    padding-left: 10px;
    list-style: none;
}

.city-list-item {
    margin: 0;
}

#canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    padding: 0;
    background-color: #ddd;
    outline: 5px solid #000;
}

#tip-canvas {
    display: none;
    padding: 0;
    background-color: #eee;
    outline: 1px solid #09c;
    margin: 0;
    position: absolute;
    z-index: 10_000;
}

form {
    margin: 0 auto;
    width: 90%;
    padding: 1em;
}
